@page "/employees/edit/{employeeId:int}"
@inject IDbContextFactory<EmployeeHRMDbContext> ContextFactory
@inject StateContainer StateContainer

<PageTitle>Edit Employee</PageTitle>

<h1>Edit Employee</h1>

@if (Employee is null && !IsDbBusy)
{
    <div class="alert alert-danger">
        Employee with Id @EmployeeId was not found!</div>
}
else
{
    <EmployeeForm Employee="@Employee"
        Departments="@Departments"
        IsToEdit="true"
        IsDbBusy="@IsDbBusy"
        OnSubmit="@HandleSubmit"
        OnCancel="@NavigateToOverviewPage"/>
}

@if (ErrorMessage is not null)
{
    <br />
    <div class="alert alert-danger">@ErrorMessage</div>
}